<%- include('partials/header') %>

        <main>
                <h1>
                        <%= title %>
                </h1>

                <ul>
                        <% organizations.forEach(organization=> { %>
                                <li>
                                        <img src="/images/<%= organization.logo_filename %>"
                                                alt="<%= organization.name %> logo">
                                        <a href="/organization/<%= organization.organization_id %>">
                                                <%= organization.name %>
                                        </a>
                                        : <%= organization.contact_email %>
                                                <p>
                                                        <%= organization.description %>
                                                </p>
                                </li>
                                <% }); %>
                </ul>
        </main>
        <%- include('partials/footer') %>