<%- include('partials/header') %>

        <main>
                <h1>
                        <%= title %>
                </h1>

                <p>Here are a few of our partner organizations:</p>
                <ul>
                        <% for (var i=0; i < organizations.length; i++) { %>
                                <li>
                                        <img src="/images/<%= organizations[i].logo_filename %>"
                                                alt="<%= organizations[i].name %> logo">
                                        <strong>
                                                <%= organizations[i].name %>
                                        </strong>: <%= organizations[i].contact_email %>
                                </li>
                                <% } %>
                </ul>
        </main>
        <%- include('partials/footer') %>