<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are the next five upcoming service projects:</p>
        <ul>
            <% for (var i=0; i < projects.length; i++) { %>
                <% const project=projects[i]; %>
                    <li>
                        <a href="/project/<%= project.project_id %>">
                            <strong>
                                <%= project.title %>
                            </strong>
                        </a>
                        by <a href="/organization/<%= project.organization_id %>">
                            <%= project.organization_name %>
                        </a>
                        <br>
                        <%= project.date %> &ndash; <%= project.location %>
                    </li>
                    <% } %>
        </ul>
    </main>
    <%- include('partials/footer') %>